# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Environment
env/
venv/

# OS
.DS_Store
Thumbs.db

# Frappe
logs/
*.log
*.sqlite3
*.db
node_modules/
*.pot
*.mo
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.orig

# Ignore IDE configs
.vscode/
.idea/
